{% extends "base.html" %}



{% block content %}
    {% for orc in orchestrations %}
    <div><p>{{ orc }}</p></div>
    <button onclick="processOrc('{{ orc.location }}')">Run Action</button>
    {% endfor %}

    <script>
        function processOrc(orc) {
            fetch(`/process_orc?orc=${encodeURIComponent(orc)}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    alert(data.message);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
{% endblock %}