[Unit]
Description = defenk database
After = network.target # Assuming you want to start after network interfaces are made available
 
[Service]
Type = simple
ExecStart = python /workspaces/SE_SIEM/db/db_app.py
User = codespace
Group = codespace
Restart = on-failure # Restart when there are errors
SyslogIdentifier = def_db
RestartSec = 5
TimeoutStartSec = infinity
 
[Install]
WantedBy = multi-user.target # Make it accessible to other users